[submodule "cardano-configurations"]
	path = cardano-configurations
	url = https://github.com/input-output-hk/cardano-configurations.git
[submodule "koios-artifacts"]
	path = koios-artifacts
	url = https://github.com/cardano-community/koios-artifacts.git
	branch = main
[submodule "guild-operators"]
	path = guild-operators
	url = https://github.com/cardano-community/guild-operators
	branch = alpha
